<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sniper.yunbo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name=".ProgressActivity" />
        <activity
            android:name=".VitamioActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".SelectActivity"></activity>
    </application>

</manifest>